.messageBox {
    background-color: #ffffff;
    padding: 15px;
    
    text-align: center;
    border: 4px solid  #462725;
    border-radius: 10px;
   
}

.messageBoxContainer {
    max-width: 80%;
}

.messageBoxRow {
    display:flex;
    // justify-content: center;
    // align-items: flex-start;
    margin-top: 10px;
    max-width: 100%;
}

.hachiwa {
    justify-content: flex-start;
    // align-items: flex-start;
    // background-color: #7fb3d5;
}
  
.chiikawa {
    justify-content: center;
    // align-items: center;
    // background-color: #ffffff
}

.usagi {
    justify-content: flex-end;
   
    // background-color: #ffff00;
}

.all {
    justify-content: flex-start;
    width: 100%;
    // align-items: flex-start;
    // background-color: #7fb3d5;
}

.hachiwa .messageBox {
    background-color: #7fb3d5;
    border: 4px solid  #462725;
    border-radius: 10px;
    width: 50%;
}

.chiikawa .messageBox {
    background-color: #ffffff;
    border: 4px solid  #462725;
    border-radius: 10px;
    width: 50%;
}

.usagi .messageBox {
    background-color: #fff5e6;
    border: 4px solid  #462725;
    border-radius: 10px;
    width: 50%;
}