// src/components/Timer/Timer.module.scss
.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff5e6;
    // transition: max-height 0.3s ease-in-out;
    // overflow: hidden;
    // max-height: 500px;
  }

  // .timerContainer.shrunk {
  //   max-height: 200px; /* Adjust this value based on your layout */
  // }
  
  .startButton,
  .pauseButton,
  .resumeButton,
  .resetButton{
    margin-top: 10px;
    background-color: white;
    border: 4px solid  #462725;
    padding-left: 30px;
    padding-right: 30px;
  }

  .controlButtons {
    display: flex; /* Use Flexbox for layout */
    justify-content: center; /* Center buttons horizontally */
    gap: 20px; /* Add a gap of 20px between buttons (adjust as needed) */
    margin-top: 20px; /* Add some space above the buttons */
  }

  .startButton {
    background-color: #FDC7CE;
  }

  .startButton:hover  {
    background-color: #fdc7ce70;
  }


  .pauseButton {
    background-color: #ffc107; /* Yellow color for pause button */
  }
  
  .pauseButton:hover {
    background-color: #e0a800; /* Darker yellow on hover */
  }
  
  .resetButton {
    background-color: #dc3545; /* Red color for reset button */
  }
  
  .resetButton:hover {
    background-color: #c82333; /* Darker red on hover */
  }

.timerDisplay{
  background-color: #FDC7CE;
  width: 85%;
  padding: 10px 30px;
  border: 4px solid  #462725;
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: space-around;

}

.time{
  font-size: 80px;
  text-align: center;
}

.centerBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrowButton{
  background-color: #FDC7CE;
  font-size: large;
  width: 80px;
  transition: opacity 1s ease-in-out,  max-height 3s ease-in-out; /* Added transition */
  max-height: 100px; /* Set initial height */
  opacity: 1; /* Ensure the button is visible */
  overflow: hidden; /* Hide overflowing content */
  
}


.arrowFont{
  font-size: large;
  transform: scale(4);
  
}

.cornerImage{
  position: relative;
  width: 70px;
  height: 70px;
  align-self: flex-end;
  transform: translate(0, -50px);
}

.timerImage{
  width: 70px;
  height: 70px;
}

.hidden {
  max-height: 0 !important; /* Collapse the button */
  opacity: 0; 
}