.cornerImage{
    position: relative;
    width: 70px;
    height: 70px;
    align-self: flex-end;
    transform: translate(0, -50px);
}

.timerImage{
    width: 70px;
    height: 70px;
}

.smallImage{
    position: absolute;
    right: 11px;
    top:11px;
    width: 48px;
    height: 48px;
}

